html,
body {
    height: 100%;
    margin: 0;
}

#container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12 1fr);
    grid-template-rows: 2fr 10fr 2fr;
}

header,
footer {
    grid-column: span 12;
}

section {
    grid-column: span 2;
}

header,
footer {
    background-color: blue;
    text-align: center;
    font-size: xx-large;

}

section {
    background-color: aquamarine;
}

#link {
    display: flex;
    flex-direction: column;
}

main {
    grid-column: span 10;
    background-color: blueviolet;
    font-size: larger;

}

main>div>iframe {
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 100px;
    margin-left: 600px;

}

.animals {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.animals2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.animals>img {
    border: 1px solid black;
    margin: 20px;
    height: 150px;
    width: 200px;
}

.animals2>img {
    border: 1px solid black;
    margin: 20px;
    height: 150px;
    width: 200px;

}

main>div>form {
    display: grid;
    grid-template-columns: repeat(8 1fr);
    grid-template-rows: 30px 80px 30px;
    width: 290px;
    height: 100px;
    text-align: center;
    margin: 10px 400px 50% 50%;
}

.tabel {
    border: 1px solid black;
}